/*<---------------Developed By Firoz Ansari--------------->*/
body {
  text-align: center;
  background-color: #011F3F;
  margin: 0;
  padding: 0;
}
.btnDiv{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 10px;
}
.startBtn{
  width: 100px;
  height: 50px;
  font-size: 24px;
  border-radius: 10px;
}
.btnDiv img{
  width: 100px;
  height: 100px;
}

#level-title {
  font-family: 'Press Start 2P', cursive;
  font-size: 2rem;
  margin-bottom:  10px;
  color: #FEF2BF;
  display: inline-block;
  height: 58px;
}

.container {
  display: block;
  /*width: 50%;*/
  margin: auto;

}

.btn {
  margin: 10px;
  display: inline-block;
  height: 150px;
  width: 150px;
  border: 10px solid black;
  border-radius: 20%;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.yellow {
  background-color: yellow;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}
footer{
  text-align: center;
  color: #aaa;
}
footer a{
  color: #fff;
}
@media screen and (max-width: 450px){
  .btn{
    width: 140px;
    height: 140px;
  }
  #level-title{
    margin-bottom: 2px;
    display: inline-block;
    height: 200px;
    font-size: 2rem;
    line-height: 1.3;
  }
  .container{
    position: relative;
    top: 30px;
  }
}

/*<---------------Developed By Firoz Ansari--------------->*/